.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 8px 16px;
  // background-color: #fff;
  z-index: 5000;

  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_left {
    img {
      width: 85px;
      height: auto;
    }
  }

  &_right {}

  &_nav {
    display: flex;

    &-link {

      a {
        display: block;
        font-size: 15px;
        padding: 6px 32px;
        border-radius: 25px;
      }
    }

    &-log {
      margin-right: 15px;

      a {
        font-weight: 600;
        color: #3AA796;
        border: 2px solid #3AA796;
      }
    }

    &-up {
      a {
        color: #fff;
        background-color: #3AA796;
      }
    }
  }
}

.fv {
  position: relative;
  // top: 75px;
  background-image: url(../public/fv-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 100svh;
  min-height: 100vh;

  &_ttl {
    position: absolute;
    transform: translateY(-50%);
    top: 38%;
    left: 6%;
    z-index: 1;

    h2 {
      font-family: TazuganeGothicStdN-Bold, sans-serif;
      font-weight: 600;
      font-size: 55px;
      font-feature-settings: "palt";
      font-kerning: auto;
      color: #333;

      &.fv_ttl_sub {
        font-size: 33px;
      }

      span {
        font-size: 65px;
        color: #3AA796;
      }
    }

    p {
      font-size: 17px;
    }
  }

  &_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
  }

  &_link {
    position: absolute;
    transform: translateY(-50%);
    top: 70%;
    left: 6%;
    display: inline-block;
    text-align: center;

    a {
      display: block;
      font-size: 18px;
      color: #fff;
      background-color: #F95E34;
      padding: 12px 100px;
      border-radius: 50px;
    }

    .arrow {
      position: relative;


      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
      }

      &::before {
        right: -280px;
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.footer {
  position: relative;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {

  .footer {
    border-color: #222;
  }

}

@media only screen and (max-width: 768px) {
  .l-header {
    &_nav {
      &-link {
        a {
          font-size: 14px;
          padding: 6px 24px;
        }
      }

      &-log {
        margin-right: 15px;
      }
    }
  }

  .fv {
    height: 85vh;
    min-height: auto;

    &_ttl {
      left: 2.5%;

      h2 {
        font-size: 40px;

        &.fv_ttl_sub {
          font-size: 26px;
        }

        span {
          font-size: 50px;
        }
      }

      p {
        font-size: 17px;
      }
    }

    &_link {
      top: 57%;
      left: 2.5%;
    }

    &_img {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 430px) {
  .l-header {
    &_nav {
      &-link {
        a {
          font-size: 14px;
          padding: 6px 16px;
        }

        &-log {
          margin-right: 8px;
        }
      }

    }
  }

  .fv {
    &_ttl {
      h2 {
        font-size: 33px;

        &.fv_ttl_sub {
          font-size: 22px;
        }

        span {
          font-size: 46px;
        }
      }

      p {
        font-size: 15px;
      }
    }

    &_link {
      width: 85%;

      a {
        padding-left: 0;
        padding-right: 0;
      }

      .arrow {
        &::before {
          right: -215px;
        }
      }
    }

    &_img {
      width: 80%;
    }
  }

}

@media only screen and (max-width: 385px) {
  .l-header {
    &_nav {
      &-link {
        .a {
          font-size: 13px;
          padding: 6px 18px;
        }
      }
    }
  }

  .fv {
    &_ttl {
      h2 {
        font-size: 30px;

        &.fv_ttl_sub {
          font-size: 22px;
        }

        span {
          font-size: 36px;
          margin-bottom: 35px;
        }
      }

      p {
        font-size: 1px;
      }
    }

  }
}