.table {
  white-space: inherit;
  overflow-x: auto;

  table {
    thead {
      tr {
        background-color: #EEEAEA;

        th {
          padding-top: 10px;
          padding-bottom: 4px;
          font-size: 12px;
        }

        .table_first {
          padding-left: 4px;
        }

        .table_last {
          width: 85px;
          padding-right: 4px;
        }
      }
    }

    tbody {
      tr {
        font-size: 14px;

        td {
          padding-top: 20px;
          padding-bottom: 6px;
          font-size: 13px;
        }

        .table_first {
          font-size: 12px;
          padding-left: 4px;
        }

        .table_last {
          width: 85px;
          padding-right: 4px;
        }

        .table_last_list {
          width: 12%;
          padding-right: 4px;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    display: inline-block;
    width: 35px;
    padding: 5px;
    margin-right: 10px;
    font-size: 13px;
    border: 1px solid #707070;
    border-radius: 3px;

    &.active {
      color: #fff !important;
      background: #898F9C !important;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}